/*** resets the navigator ***/
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/*** status indicator ***/
.status_error, .status_correct{
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  width: 50%;
  padding: 0.5%;
  margin: 2.5% 0 2.5% 25%;
}

.status_error{
  color: #d11;
  border-left: solid 0.2em #d11;
}

.status_correct{
  color: #1d1;
  border-left: solid 0.2em #1d1;
}

/*** table ***/
table{
  margin-left: 25%;
  width: 50%;
}

caption{
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  color: #44c;
  text-align: left;
}

th{
  color: #44c;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5%;
  background: #111;
  font-weight: bold;
  font-size: 1.15em;
}

tr{
  width: 100%;
  text-align: center;
  font-size: 1.15em;
  background: #44c;
  color: #fff;
}

/*** redirect ***/
#redirect{
  color: #111;
  font-size: 1.15em;
  width: 50%;
  margin: 0 0 0 25%;
}

a{
  color: #008;
  text-decoration: none;
}

/*** ol ***/
#data li{
  width: 50%;
  font-size: 1.1em;
  margin-left: 25%;
  padding: 0.5%;
  text-align: center;
  color: #111;
  list-style-type: none;
}
