/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/01/2018, 18:17:04
    Author     : huriel
*/

@font-face{
  src: url('../fonts/AlegreyaSansSC-Thin.woff2');
}

#welcome{
  width: 100%;
  text-align: center;
}

#welcomeStart{
  color: #111;
  padding: 2%;
}

.welcomeText{
  font-family: 'Alegreya-Light';
  font-weight: 900;
}

#mainContent{
  margin: 2% 0 0 0;
  font-size: 1.5em;
  color: #555;
}

.descriptionText{
  padding: 2%;
  color: #48a0dc;
}


.choice{
  width: 75%;
  margin: 0 0 0 12.5%;
}

.welcome-choice{
  width: 45%;
  margin: 0 0 0 25%;
  padding: 2.5%;
  
}

.choiceDescription{
  width: 100%;
  padding: 0 1.5% 7.5% 1.5%;
  border-bottom: dotted #555 0.1em;
  font-family: 'Advent-ExtraLight';
  font-size: 1em;
}

#controlExtend{
  display: inline-block;
  background: #1a1a1a;
  padding: 1% 2%;
  border-radius: 50%;
  margin-bottom: 2.5%;
  font-weight: bold;
  color: #eee;
}

#extendContent{
  
}