.connection{
  display: block;
}

#graphControls, #pointsControl{
  width: 85%;
  margin: 0.5% 0 0.5% 7.5%;
  display: inline-block;
  overflow: hidden;
}

#graphStatus{
  padding: 1%;
  word-break: break-all;
}