/** do not show some objects **/
#insertion, #choiceTask, #btnSubmit{
  display:none;
}

/** generic text **/
.genericText{
  font-size: 1.25em;
}

/** channel Area **/
#channelChoice{
  padding: 1.5%;
  text-align: center;
}

#channelNumber{
  border: none;
  width: 25%;
  margin: 1% 0;
  text-align: center;
  color: #111;
  font-size: 2em;
}

#confirmChannel{
  display: none;
  width: 15%;
  margin: 0 0 1% 42.5%;
  padding: 0.5%;
  font-size: 1.5em;
  color: #111;
  background: none;
  border: none;
  transition: all 0.5s;
}

#confirmChannel:hover{
  color: #1d3;
}

/** choice task **/
#choiceTask{
  text-align: center;
}

/** insertion Area **/
#insertion{
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.insertionType{
  padding: 1%;
}

.insertionType input{
  border: none;
}

/** manual insertion **/
#sizeSample{
  display: inline-block;
  width: 15%;
  border-bottom: solid 0.1em #111;
}

#btnCreate, #btnSubmit{
  margin: 1% 0 0 0;
  width: 25%;
  font-size: 1em;
}

/* tables */
.tableData{
  width: 50%;
  padding: 1%;
  margin: 1% 0 0 25%;
}

td{
  height: 1.5em;
  border-bottom: solid 0.05em #101010;
}

.inputData{
  display: inline-block;
  width: 90%;
  height: 1.5em;
  border: solid 1em red;
  text-align: center;
}

/* spans remove and create */

.spanRemove{
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  float: right;
  border: none;
  border-radius: 100%;
  color: #eee;
  
  background: #d00;
}

.spanCreate{
  border: none;
  float: right;
  color: #0d0;
  background: none;
  font-weight: bolder;
  font-size: 1em;
}
